<form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="area" class="form-control" formControlName="area">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="copa" class="form-control" formControlName="copa">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="descripción" class="form-control" formControlName="descripcion">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="día" class="form-control" formControlName="dia">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="mes" class="form-control" formControlName="mes">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="hora" class="form-control" formControlName="hora">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="distrito" class="form-control" formControlName="distrito">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Fecha de cierre" class="form-control" formControlName="fechaCierre">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="formulario" class="form-control" formControlName="formulario">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="id" class="form-control" formControlName="id">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="imagen" class="form-control" formControlName="image">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="link" class="form-control" formControlName="link">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="lugar" class="form-control" formControlName="lugar">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="organizado" class="form-control" formControlName="organizado">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="primer premio" class="form-control" formControlName="primero">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="segundo premio" class="form-control" formControlName="segundo">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="tercer premio" class="form-control" formControlName="tercero">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="sorteos" class="form-control" formControlName="sorteos">
    </mat-form-field>
  </div>


  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
    </div>
  </div>

</form>
